# Proposta

Um notebook que mostre, via dataframes, as listagens de dados da tabela fato e dos agregados. O notebook deve estar previamente executado de modo que se possa ver o conteúdo dos dataframes.

# Model Fato

![fato](../banco/fato.png)

# Model Agregados

![agregados](../banco/agregado.png)

# Implementação

In [18]:
from conexao_mysql import MySQL
import pandas as pd

In [2]:
mysql_obj = MySQL('localhost', 'alunos', 'alunos', 'atividade02')

Connection to MySQL DB successful

In [22]:
def criar_fato_df(mysql_obj):
    select = """SELECT * FROM FATO_ORCAMENTO"""
    descricao, fatos_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    fato = pd.DataFrame.from_records(fatos_list, columns=nomes_colunas)
    return fato

In [23]:
fato = criar_fato_df(mysql_obj)

In [24]:
fato

,valor_orcado,valor_liquidado,TEMPO_id,ACAO_cod,SUBFUNCAO_cod,UNIDADE_ORCAMENTARIA_cod
0,0.000000e+00,0.0,1,-1,-1,20101
1,0.000000e+00,0.0,1,0005,846,20201
2,5.319970e+04,0.0,1,0005,846,22201
3,0.000000e+00,0.0,1,0005,846,24201
4,0.000000e+00,0.0,1,0005,846,24204
...,...,...,...,...,...,...
61238,1.365380e+07,51200000.0,12,8948,511,55101
61239,1.509120e+09,196419000.0,12,8965,128,52121
61240,0.000000e+00,0.0,12,8969,151,52111
61241,0.000000e+00,0.0,12,8974,422,30101
61242,0.000000e+00,0.0,12,8976,572,24101