# Proposta

Um notebook que mostre, via dataframes, as listagens de dados da tabela fato e dos agregados. O notebook deve estar previamente executado de modo que se possa ver o conteúdo dos dataframes.

# Model Fato

![fato](../banco/fato.png)

# Model Agregados

![agregados](../banco/agregado.png)

# Implementação

In [1]:
from conexao_mysql import MySQL
import pandas as pd

In [2]:
mysql_obj = MySQL('localhost', 'alunos', 'alunos', 'atividade02')

Connection to MySQL DB successful

In [3]:
def criar_fato_df():
    select = """SELECT * FROM FATO_ORCAMENTO"""
    descricao, fatos_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    fato = pd.DataFrame.from_records(fatos_list, columns=nomes_colunas)
    return fato

In [4]:
fato = criar_fato_df()

In [5]:
fato

,valor_orcado,valor_liquidado,TEMPO_id,ACAO_cod,SUBFUNCAO_cod,UNIDADE_ORCAMENTARIA_cod
0,0.000000e+00,0.0,1,-1,-1,20101
1,0.000000e+00,0.0,1,0005,846,20201
2,5.319970e+04,0.0,1,0005,846,22201
3,0.000000e+00,0.0,1,0005,846,24201
4,0.000000e+00,0.0,1,0005,846,24204
...,...,...,...,...,...,...
61238,1.365380e+07,51200000.0,12,8948,511,55101
61239,1.509120e+09,196419000.0,12,8965,128,52121
61240,0.000000e+00,0.0,12,8969,151,52111
61241,0.000000e+00,0.0,12,8974,422,30101
61242,0.000000e+00,0.0,12,8976,572,24101

In [8]:
def criar_ag_orgao_superior_df():
    select = """SELECT * FROM AG_ORGAO_SUPERIOR_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [9]:
ag_orgao_superior = criar_ag_orgao_superior_df()
ag_orgao_superior

    valor_orcado  valor_liquidado  ORGAO_SUPERIOR_cod  DIM_TEMPO_id
0   0.000000e+00     0.000000e+00                  -1             1
1   6.317990e+05     0.000000e+00                3000             1
2   1.201180e+10     1.590440e+10               20000             1
3   1.507550e+10     1.575840e+10               22000             1
4   9.344120e+09     9.742210e+09               24000             1
5   4.817850e+12     5.674450e+12               25000             1
6   1.045430e+12     1.078730e+12               26000             1
7   2.414500e+11     8.493530e+10               30000             1
8   1.535700e+11     2.272650e+11               32000             1
9   9.612980e+13     3.658700e+12               33000             1
10  7.649000e+02     0.000000e+00               34000             1
11  5.906510e+11     3.909880e+10               35000             1
12  1.495960e+12     2.623940e+12               36000             1
13  6.191140e+09     7.980700e+09               37000             1
14  8.544660e+10     8.919540e+10               39000             1
15  4.704770e+10     2.410600e+10               44000             1
16  0.000000e+00     0.000000e+00               51000             1
17  5.499400e+12     6.762140e+11               52000             1
18  7.938090e+10     9.117270e+10               53000             1
19  1.164780e+09     2.247660e+09               54000             1
20  1.373260e+11     1.341330e+11               55000             1
21  4.004600e+10     3.192660e+10               63000             1
22  2.408380e+08     2.074760e+08               81000             1

In [10]:
def criar_ag_funcao_df():
    select = """SELECT * FROM AG_FUNCAO_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [11]:
ag_funcao = criar_ag_funcao_df()
ag_funcao

    valor_orcado  valor_liquidado  FUNCAO_cod  DIM_TEMPO_id
0   0.000000e+00     0.000000e+00          -1             1
1   6.317990e+05     2.914090e+06           1             1
2   0.000000e+00     1.410870e+07           2             1
3   2.210980e+10     7.870880e+09           3             1
4   9.998300e+11     2.970810e+11           4             1
5   5.403500e+12     5.433300e+11           5             1
6   2.142700e+11     6.608460e+10           6             1
7   5.892740e+11     3.707140e+10           7             1
8   1.130560e+11     1.796190e+11           8             1
9   9.715230e+13     4.158800e+12           9             1
10  1.457710e+12     2.575690e+12          10             1
11  1.017410e+11     1.657700e+11          11             1
12  9.631490e+11     9.705660e+11          12             1
13  2.171700e+10     8.088300e+09          13             1
14  1.563940e+10     8.192310e+09          14             1
15  2.538700e+10     1.514790e+10          15             1
16  4.925410e+06     1.169390e+07          16             1
17  7.598830e+08     2.386420e+09          17             1
18  4.913910e+10     3.998810e+10          18             1
19  9.390740e+09     1.123850e+10          19             1
20  2.044070e+10     2.520670e+10          20             1
21  1.374870e+09     1.434150e+09          21             1
22  3.226290e+10     2.176820e+10          22             1
23  3.352430e+09     4.683930e+09          23             1
24  4.180160e+09     5.406460e+09          24             1
25  1.197160e+10     1.928730e+10          25             1
26  7.150220e+10     6.992090e+10          26             1
27  2.323680e+08     6.241710e+08          27             1
28  3.123090e+12     5.250420e+12          28             1
29  0.000000e+00     0.000000e+00          99             1

In [12]:
def criar_ag_programa_df():
    select = """SELECT * FROM AG_PROGRAMA_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [13]:
ag_programa = criar_ag_programa_df()
ag_programa

     valor_orcado  valor_liquidado PROGRAMA_cod  DIM_TEMPO_id
0    0.000000e+00     0.000000e+00           -1             1
1    0.000000e+00     0.000000e+00         1001             1
2    0.000000e+00     0.000000e+00         1008             1
3    0.000000e+00     0.000000e+00         1025             1
4    0.000000e+00     0.000000e+00         1027             1
..            ...              ...          ...           ...
264  3.099160e+09     1.469720e+09          911             1
265  1.396260e+09     3.866560e+09          913             1
266  0.000000e+00     0.000000e+00         9989             1
267  0.000000e+00     0.000000e+00          999             1
268  0.000000e+00     0.000000e+00         9991             1

[269 rows x 4 columns]

In [ ]:
def criar_ag_programa_df():
    select = """SELECT * FROM AG_PROGRAMA_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [14]:
ag_programa = criar_ag_programa_df()
ag_programa

     valor_orcado  valor_liquidado PROGRAMA_cod  DIM_TEMPO_id
0    0.000000e+00     0.000000e+00           -1             1
1    0.000000e+00     0.000000e+00         1001             1
2    0.000000e+00     0.000000e+00         1008             1
3    0.000000e+00     0.000000e+00         1025             1
4    0.000000e+00     0.000000e+00         1027             1
..            ...              ...          ...           ...
264  3.099160e+09     1.469720e+09          911             1
265  1.396260e+09     3.866560e+09          913             1
266  0.000000e+00     0.000000e+00         9989             1
267  0.000000e+00     0.000000e+00          999             1
268  0.000000e+00     0.000000e+00         9991             1

[269 rows x 4 columns]

In [18]:
def criar_ag_orgao_subordinado_df():
    select = """SELECT * FROM AG_ORGAO_SUBORDINADO_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [19]:
ag_orgao_subordinado = criar_ag_orgao_subordinado_df()
ag_orgao_subordinado

     valor_orcado  valor_liquidado  ORGAO_SUBORDINADO_cod  DIM_TEMPO_id
0    0.000000e+00     0.000000e+00                     -3             1
1    6.317990e+05     0.000000e+00                   3000             1
2    7.869420e+09     1.039450e+10                  20101             1
3    2.553050e+08     1.783420e+08                  20116             1
4    0.000000e+00     0.000000e+00                  20122             1
..            ...              ...                    ...           ...
248  0.000000e+00     0.000000e+00                  74918             1
249  0.000000e+00     0.000000e+00                  74919             1
250  2.383490e+08     2.054570e+08                  81000             1
251  0.000000e+00     0.000000e+00                  90000             1
252  0.000000e+00     0.000000e+00                  91214             1

[253 rows x 4 columns]

In [22]:
def criar_ag_orgao_subordinado_programa_df():
    select = """SELECT * FROM AG_ORGAO_SUBORDINADO_PROGRAMA_ANO"""
    descricao, agregados_list = mysql_obj.execute_read_query_with_description(select)
    nomes_colunas = [d[0] for d in descricao]
    agregados = pd.DataFrame.from_records(agregados_list, columns=nomes_colunas)
    return agregados

In [23]:
ag_orgao_subordinado_programa = criar_ag_orgao_subordinado_programa_df()
ag_orgao_subordinado_programa

,valor_orcado,valor_liquidado,ORGAO_SUBORDINADO_cod,PROGRAMA_cod,DIM_TEMPO_id
0,0.0,0.0,-3,2012,1
1,0.0,0.0,-3,2015,1
2,0.0,0.0,-3,2016,1
3,0.0,0.0,-3,2017,1
4,0.0,0.0,-3,2021,1
...,...,...,...,...,...
2910,224017.0,224017.0,81000,901,1
2911,132000.0,66000.0,81000,909,1
2912,869600.0,869600.0,81000,910,1
2913,0.0,0.0,90000,999,1
2914,0.0,0.0,91214,6102,1